{
  "presets": [
    // Para trabajar con EnmaScript 5 y 6
    [
      "@babel/preset-env",
      // Permite usar async-await
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    // Para transpilar el código y poder usar React .jsx
    ["@babel/preset-react"]
  ],
  // "env": {
  //   "development": {
  //     "plugins": [
  //       "transform-class-properties",
  //       "react-hot-loader/babel",
  //       "babel-plugin-transform-object-assign"
  //     ]
  //   }
  // },
  "plugins": [
    ["react-hot-loader/babel"]
    // ["@babel/transform-runtime"]
  ]
}
