@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$main-color: whitesmoke;
$background-color: white;
$primary-color: #f7ba48;
$gray-scale-1: #f3f2f0;
$gray-scale-2: #c9c4bc;
$gray-scale-3: #9f9789;
$gray-scale-4: #746955;
$secondary-color-1: #7c5d24;
$secondary-color-2: #4b3c21;
$secondary-color-3: #3e2f12;
$util-color-1: #48f75f;
$util-color-2: #f76648;
