// @import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

// $theme-font: 'Muli', sans-serif;
$theme-font: 'Titillium Web', sans-serif;
// $theme-font: 'Bree Serif', serif;}
// $theme-font: 'DM Sans', sans-serif;
// $theme-font: 'Patua One', cursive;

$main-color: whitesmoke;
$background-color: white;
$primary-color: #f6c363;
$secondary-color-1: #fc5455;
$secondary-color-2: #3bc08b;
$secondary-color-3: #3e2f12;
$gray-scale-1: #f3f2f0;
$gray-scale-2: #c9c4bc;
$gray-scale-3: #9f9789;
$gray-scale-4: #746955;
$util-color-1: #48f75f;
$util-color-2: #f76648;
$title-size: 48px;
$subtitle-size: 32px;
$content-size: 24px;
$normal-size: 16px;
