@import '../Vars.scss';
@import '../Media.scss';

.carousel {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0px 32px;
  width: 100%;
  position: relative;

  ////////////
  // background-color: darkcyan;
}

.carousel__container {
  transition: 450ms -webkit-transform !important;
  transition: 450ms transform !important;
  transition: 450ms transform, 450ms -webkit-transform !important;
  font-size: 0;
  white-space: nowrap;

  display: inline-flex !important;
  flex-wrap: nowrap !important;
  padding-bottom: 64px;
  padding-top: 64px;

  ///////////
  // background-color: hotpink;
  // overflow-x: scroll;
  overflow: hidden;
  padding-right: 90px;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}
