@import '../Vars.scss';
@import '../Media.scss';

.categories {
  margin: 0px 32px;
  justify-content: center;

  /////////
  // background-color: greenyellow;
}

.categories__title {
  color: black;
  // font-size: 2em;
  position: relative;

  ///////////////
  padding-left: 32px;
  width: 100%;
}
