@import '../Vars.scss';
@import '../Media.scss';

.categories {
  margin: 0px 32px;
  padding: 16px;
  justify-content: center;
  /////////
  // background-color: rosybrown;
}

.categories__title {
  color: $gray-scale-4;
  font-size: 2em;
  position: absolute;
  // padding-left: 30px;
  // width: 100%;
}
