@import '../Vars.scss';
// .deliveryInfo > div {
//   margin: 0 !important;
//   padding: 0 !important;
// }

.deliveryInfo__content--button {
  background-color: $secondary-color-1 !important;
  border-color: $secondary-color-1 !important;
  color: white !important;
  font-weight: bold !important;
}
