@import '../Vars.scss';

.footer__container {
  font-family: 'Titillium Web', sans-serif;
  color: #636363 !important;
  // bottom: 0 !important;
}

.bg-footer {
  background-color: #f5e3c2 !important;
}

.bg-footer a {
  text-decoration: none !important;
  color: #636363 !important;
}

.footer__container--list-tittle {
  font-size: 20px;
}
