@import '../Vars.scss';

.header__navBar {
  background-color: $primary-color;
  height: 80px;
}

#logo-shopper {
  width: auto;
  height: 60px;
}

// links directos - No dropdown
.header__navBar--menu > a {
  color: white !important;
  margin-left: 16px;
  padding: 8px;
  text-decoration: none !important;
}

.header__navBar--collapse {
  background-color: $primary-color;
  padding: 0px 16px;
  border-radius: 8px;
  z-index: 950;
}

.header__navBar--menu-dropdown > a {
  margin-left: 16px;
}

// COVID-19
.header__navBar--menu-dropdown > a {
  color: white !important;
}

// COVID-19 Dropdown
.header__navBar--menu-dropdown > div {
  min-width: 9rem;
}

// COVID-19 Dropdown links
.header__navBar--menu-dropdown > div > a {
  color: black;
  text-decoration: none;
  padding: 0.25rem 0.5rem !important;
}

// Profile container
.header__navBar--profile a {
  color: black !important;
}

// Profile container
.header__navBar--profile > div {
  vertical-align: middle !important;
  align-items: center !important;
  margin-top: 8px;
}

// user fullname
.header__navBar--profile > div > a {
  // color: $secondary-color-1 !important;
  // font-weight: bold;
  margin-left: 0;
}

// Profile Dropdown block
.header__navBar--profile > div > div {
  min-width: 9rem;
}

// Profile Dropdown links
.header__navBar--profile > div > div > a {
  text-decoration: none;
  padding: 0.25rem 0.5rem !important;
}

.header__navBar--profile-photo {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.header__navBar--auth-login {
  color: $secondary-color-1 !important;
  margin-top: 8px;
}

.header__navBar--auth--register-button {
  color: white !important;
  background-color: $secondary-color-1 !important;
  border-color: $secondary-color-1 !important;
  font-weight: bold !important;
  margin-top: 8px;
  margin-left: 16px;
}

// Cuando se activa el collapse del navBar
@media only screen and (max-width: 767px) {
  .header__navBar--collapse {
    background-color: white;
  }

  // links directos - No dropdown
  .header__navBar--menu > a {
    color: black !important;
    padding: 8px 0px 8px 0px;
  }

  // COVID-19
  .header__navBar--menu-dropdown > a {
    color: black !important;
  }

  // user fullname
  .header__navBar--profile > div > a {
    color: $secondary-color-1 !important;
    font-weight: bold;
    margin-left: 16px;
    border-top: thin solid rgba(0, 0, 0, 0.2);
  }

  .header__navBar--profile-photo {
    display: none;
  }

  .header__navBar--auth-login {
    margin-top: 0;
    color: $secondary-color-1 !important;
    margin-left: 16px;
    border-top: thin solid rgba(0, 0, 0, 0.2);
  }

  .header__navBar--auth--register-button {
    width: auto;
    color: white !important;
    background-color: $secondary-color-1 !important;
    margin: 0px 0px 8px 0px !important;
    margin-left: 16px !important;
  }
}
