@import '../Vars.scss';
@import '../Media.scss';

.header {
  align-items: center;
  background: #f7ba48;
  color: whitesmoke;
  display: flex;
  height: 80px;
  // justify-content: flex-start;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

// .header nav {
//   width: 100%;
//   align-items: center;
//   background: #f7ba48 !important;
// }

.header__img {
  width: 50px;
  margin-left: 32px;
}

.header__menu {
  margin-right: 32px;
}

// .header__menu--profile-name {
//   list-style: none;
// }

// .header__menu:hover ul,
// .header__menu--profile-options:hover {
//   display: block;
// }

.header__menu:hover ul,
ul:hover {
  display: block;
  position: relative;
  // display: flex;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  width: auto;
  cursor: pointer;
}

.header__menu--profile img {
  width: auto;
  margin-right: 8px;
  border-radius: 100%;
  object-fit: cover;
}

.header__menu--profile p {
  margin: 0;
  color: white;
}

.header__menu--profile-options {
  position: absolute;
  padding-left: 48px;
  justify-content: flex-end;
  width: 128px;
  display: block;
}

.header__menu--profile-options ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu--profile-options ul li {
  margin: 10px 0px;
}

.header__menu--profile-options li a {
  color: $gray-scale-4;
  text-decoration: none;
}

.header__menu--profile-options li a:hover {
  color: $secondary-color-3;
  text-decoration: none;
  font-weight: bolder;
}
