@import '../Vars.scss';

.login {
  background-image: linear-gradient(#fcb022, $primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(
    100vh - 0px
  ); /* "-200px" para que el ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

.login__container {
  background-color: white;
  border: none;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 48px 64px 48px;
}

.login__container--title {
  color: black;
  font-size: 24px;
  margin-bottom: 8px;
  h2 {
    font-weight: bold;
  }
}

.login__container--form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
  }
  button {
    background-color: $primary-color;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    border: none;
    height: 48px;
    border-radius: 24px;
  }
  button:hover {
    color: white;
    background-color: $secondary-color-1;
  }
}

.login__container--form--textInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  height: 48px;
  width: 100%;
}

.login__container--form-group input::placeholder {
  color: black;
  text-align: center;
}

// Para la animación del input

.login--wrap-input {
  width: 100%;
  position: relative;
  z-index: 1;
}

.login--focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 48px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 24px;
  border: 1px solid $gray-scale-3;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login__container--form input:focus + .login--focus-input {
  width: calc(100% + 20px);
}

// FIN - Para la animación del input

.login__container--remember-me {
  color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.login__container--remember-me--switch {
  color: black;
}

.login__container--remember-me a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  margin: 16px 0px;
}

.login__container--social-media > div > img {
  margin-right: 10px;
  width: 30px;
}

.login__container--register {
  font-size: 16px;
}

.login__container--register a {
  color: black;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}
