@import '../Vars.scss';

.shoppingCarShop__img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  // -o-object-fit: cover;
  // object-fit: cover;
}

// .shoppingCarShop-item {
//   border-radius: 20px !important;
//   overflow: hidden !important;
//   position: relative !important;
//   display: inline-block !important;
//   width: 200px !important;
//   height: 250px !important;
//   margin-right: 10px !important;
//   margin-bottom: 10px !important;
//   font-size: 20px !important;
//   cursor: pointer !important;
//   transition: 450ms all !important;
//   -webkit-transform-origin: center left !important;
//   transform-origin: center left !important;
// }
