@import '../Vars.scss';
@import '../Media.scss';

.main {
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  height: 360px;
  background-image: url('../../static/background.png');
  background-attachment: fixed;
}

.search__container {
  text-align: center;
  margin: 128px 32px 0px 32px;
  padding: 0px 32px;
}

.search__container--title {
  color: $gray-scale-4;
  font-size: 32px;
  font-weight: bold;
  cursor: default;
}

.search__container--form--input-search {
  background-color: white;
  border: 2px solid $gray-scale-3;
  border-radius: 25px;
  color: $gray-scale-3;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  width: 80%;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}

.search__container input::placeholder {
  color: $gray-scale-2;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}
