@import '../Vars.scss';
@import '../Media.scss';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px, 0px, 40px, 40px;
}

.search__container--title {
  color: $gray-scale-4;
  font-size: 25px;
}

.main__form--input-search {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid $gray-scale-3;
  border-radius: 25px;
  color: $gray-scale-3;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 48px;
  width: 200%;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}

.main__form ::placeholder {
  color: $gray-scale-2;
  text-align: center;
}
