@import '../Vars.scss';
@import '../Media.scss';

.sidebar {
  // position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  // margin-top: 224px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  // height: 100%;
  max-height: 1000px;
  background: $gray-scale-4;
  // transition: all 0.5s ease;
  text-decoration: none;
  list-style: none;
  padding: 16px;
  // ----------
  z-index: 11;
}

.sidebar__title {
  font-size: 24px;
  color: white;
  text-align: center;
  user-select: none;
}

.categories {
  margin: 0;
}

.categories ul {
  text-decoration: none;
  list-style: none;
  padding-inline-start: unset;
}

.sidebar a {
  display: block;
  height: 48px;
  width: 100%;
  color: white;
  line-height: 48px;
  padding-left: 16px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  text-decoration: none;
}

.sidebar a.active,
.sidebar a:hover {
  border-left: 5px solid $primary-color;
  color: $primary-color;
  font-weight: bold;
}

.sidebar a {
  font-size: 12px;
}

.sidebar a span {
  text-transform: uppercase;
}

.sidebar__show {
  // margin-top: calc(224px + 5px);
  display: none;
}

#show-filter {
  display: none;
}

@media (max-width: 800px) {
  .sidebar {
    // position: fixed;
    width: 85%;
    transition: all 0.5s ease;
  }

  // .sidebar__title {
  // }

  .sidebar__show {
    // margin-top: calc(224px + 5px);
    display: initial;
  }

  label .filter__open,
  label .filter__close {
    position: absolute;
    // margin-top: calc(224px + 5px);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid $primary-color;
    margin-left: calc(85% + 5px);
    font-size: 29px;
    background: $primary-color;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 45px;
    transition: all 0.4s ease;
  }

  label .filter__open {
    opacity: 0;
    visibility: hidden;
    // margin-top: calc(224px + 5px);
  }

  #show-filter:checked ~ .sidebar {
    left: -85%;
    visibility: hidden;
  }

  #show-filter:checked ~ label .filter__close {
    margin-left: calc(85% + 5px);
    opacity: 0;
    visibility: hidden;
    // margin-top: 224px;
  }

  #show-filter:checked ~ label .filter__open {
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
    // margin-top: calc(224px + 5px);;;
  }
}
